* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100%;
}

#top {
  background-color: #ece4de;
  width: 100%;
  padding: 10px 40px 100px 40px;
}

.upper-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Nav */
.home {
  margin: 15px;
}

.home a {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Sacramento', cursive;
  color: #000000;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav a {
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
  color: #000000;
  font-weight: 700;
  margin: 15px;
}

/* Typewriter */
.introduction {
  width: auto;
  padding: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-title {
  font-size: 50px;
  font-weight: 100;
  color: #000000;
  font-family: 'Cormorant', serif;
}

.typewrite {
  color: #899093;
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
}

.lower-header {
  display: flex;
  flex-direction: inline;
  justify-content: space-between;
}

/* Line drawing */
.line-drawing {
  display: flex;
  justify-content: flex-end;
}

.top-drawing {
  position: absolute;
  width: 550px;
  height: 600px;
}

.nav-contact {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}

a.nav-git i {
  font-size: 20px;
}

a.nav-linkedin i {
  font-size: 20px;
}

a.nav-email i {
  font-size: 20px;
}

a.nav-resume i {
  font-size: 20px;
}

/* The navigation menu links */
.sidenavigation a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: gray;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenavigation a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

img.portfolio-img {
  border-radius: 150px;
  border: solid 4px lightgray;
  height: 25vh;
  width: 25vh;
  object-fit: contain, cover;
  background-color: #f3e1db;
  margin-bottom: 40px;
}

.section {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px !important;
}

.title {
  margin-bottom: 20px;
  font-size: 36px;
}

/* About Me */
.about {
  color: #818181;
}

/* Skills */
.skills {
  background-color: #f3e1db;
  color: #818181;
}

.card .card-image {
  height: 300px;
  overflow: scroll;
}

/* Portfolio */

.portfolio-title {
  color: #818181;
}

/* Contacts */
.contact {
  background-color: #404853;
  display: flex;
  flex-direction: column;
  padding: 80px 200px;
  width: auto;
  color: white;
}

.contact-links {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.copyright {
  margin-top: 50px;
  text-align: center;
}

.social a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.3s linear;
}

a.text-email {
  font-size: 14px;
}

a.text-email:hover {
  text-decoration: underline;
}

a.git {
  margin-left: 10px;
}

a.linkedin {
  margin-left: 10px;
}

a.email {
  margin-left: 10px;
}

a.resume {
  margin-left: 10px;
}

a.ga-link {
  text-decoration: none;
  color: #be7c6c;
}

a.readme {
  text-decoration: none;
  color: #be7c6c;
}

/* MEDIA QUERY */
@media screen and (max-width: 900px) {
  .intro-title {
    font-size: 20px;
    white-space: nowrap;
  }

  .typewrite {
    font-size: 15px;
    white-space: nowrap;
  }

  .title {
    white-space: nowrap;
  }

  .context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .contact {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }

  .main {
    width: 100%;
  }

  .copyright {
    white-space: nowrap;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenavigationigation {
    padding-top: 15px;
  }
  .sidenavigationigation a {
    font-size: 18px;
  }
}
